# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# python cache
__pycache__/

# files used for debugging
debug/

# downloaded transformers to be run locally
transformers/

# word embeddings and models
embeddings_models/

# spacy stuff you can get online
docs/spacy*